NEXT_PUBLIC_API_URL="http://localhost:8080/api"
NEXT_PUBLIC_WS_URL="ws://localhost:8080"

NEXT_PUBLIC_CLOUDFRONT_URL="https://<YOUR_DISTRIBUTION_ID>.cloudfront.net/:path*"
NEXT_PUBLIC_IMAGES_CLOUDFRONT_URL="<YOUR_DISTRIBUTION_ID>.cloudfront.net"