DB_SCHEME=postgresql+asyncpg
DB_USER=username
DB_PASSWORD=password
DB_HOST=db
DB_PORT=5432
DB_NAME=video
DB_SSL_MODE=require

AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_REGION=us-east-1
S3_ENDPOINT_URL=http://localhost.localstack.cloud:4566
S3_BUCKET_NAME=my-test-bucket
S3_FORCE_PATH_STYLE=True     # Set to True for localstack

APP_ENV=dev